body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.auth-box {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #334155;
  color: white;
  font-size: 15px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

button {
  flex: 1;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1d4ed8;
}

input[type="file"] {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.result {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.history {
  margin-top: 30px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.history-item {
  margin-bottom: 15px;
}

.history-item h4 {
  margin-bottom: 8px;
  color: #60a5fa;
}

hr {
  border: 0.5px solid #334155;
}

.user-section {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}